/*
    COLORS
    orange: #da8139 rgba(218, 129, 57, 1)
    slate: #232832 rgba(35, 40, 50, 1)
    light-steel: lightsteelblue #b0c4de rgba(176, 196, 222, 1)
*/

/*
    GENERAL
*/
html {
    font-size: 100%;
    font-weight: 400;
    font-family: "Open sans";
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.logo {
    width: 2em;
    height: 2em;
    display: block;
    margin: auto;
}

.light-borders {
    box-shadow: rgba(0,0,0,.67) 0 0 2px;
}

.light-bottom-shadow {
    box-shadow: rgba(0,0,0,.67) 0 3px 10px;
}

.bottom-shadow-3d::after {
    content: "";
    position: relative;
    width: 95%;
    height: 95%;
    top: 5%;
    box-shadow: rgba(0,0,0,.67) 0 5px 20px;
    background-color: rgba(0,0,0,.67);
    display: block;
    margin: auto;
    z-index: -1;
}

a, a:link, a:visited, a:hover {
    color: #da8139;
    text-decoration: none;
    font-family: "Ubuntu Condensed";
}

h1, h2, h3, h4 {
    color: #232832;
    font-family: "Ubuntu Condensed";
    font-weight: 800;
}

h1 {
    font-size: 2.3em;
}

h2 {
    font-size: 1.9em;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
}

h4 {
    font-size: 1.2em;
    font-weight: 600;
}

.publication {
    font-size: .9em;
    font-style: italic;
    font-weight: 200;
}

.author {
    font-weight: 600;
}

.tag {
    display: inline-block;
    padding: 0 .5em;
    line-height: 1.6em;
    color: lightsteelblue;
    background-color: #232832;
    font-style: normal;
    font-weight: 400;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: rgba(0,0,0,.33) 0 3px 5px;
}

/*
    HEADER
*/
header {
    display: block;
    width: 100%;
    margin: 0;
    padding: .5em 0;
    color: lightsteelblue;
    font-size: 1em;
    background: #232832 radial-gradient(rgba(255,255,255,.15), rgba(255,255,255,0) 50%);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 200% 200%;
}

    header a, header a:link, header a:visited, header a:hover {
        color: inherit;
        text-decoration: none;
    }

    header [role=heading] {
        margin: auto;
        text-align: center;
        font-family: "Ubuntu Condensed";
    }

        header [role=heading] a {
            font-size: 3em;
        }

    header [role=definition] {
        text-align: center;
        margin: 0;
        padding: 0;
        font-family: "Ubuntu Condensed";
    }

nav {
    height: 3em;
    padding: 0;
    margin: 2em auto 0 auto;
    display: block;
    text-align: center;
}

    nav a[role=button] {
        display: none;
    }

    nav ul {
        display: inline-block;
        height: 3em;
        margin: 1em auto;
        padding: 0;
        font-size: 1em;
    }

    nav li {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        border-right: 1px solid #da8139;
    }

        nav li:last-child {
            border: 0;
        }


        nav li a {
            display: block;
            height: 100%;
            padding: 0 1em;
        }

@media (min-width: 900px) {

    header.slim {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

        header.slim [role=heading] {
            display: table-cell;
            text-align: left;
        }

            header.slim [role=heading] .logo, header.slim [role=heading] a {
                margin-left: 0;
                margin-right: 0;
                vertical-align: middle;
                display: inline-block;
            }

            header.slim [role=heading] p {
                text-align: left;
                padding-left: 1em;
                display: inline-block;
                vertical-align: middle;
                margin: 0;
                padding: 0;
                margin-left: 1em;
            }

        header.slim nav {
            display: table-cell;
            vertical-align: middle;
            margin: 0;
            text-align: right;
            padding: 0;
            height: auto;
        }

            header.slim nav ul {
                height: auto;
            }
}
/*
    MAIN
*/
main {
    width: 90vw;
    max-width: 1000px;
    margin: auto;
    display: block;
}

.carts-container {
}

.card {
    padding: .5em;
    box-sizing: border-box;
    display: block;
    position: relative;
    z-index: 1;
}

.card-picture {
    width: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center center;
    background-color: #232832;
    height: 15vw;
    min-height: 250px;
    position: relative;
}

    .card-picture h2 {
        padding: .5em calc(15% + 1em / 1.9);
        margin: 0;
        background-color: rgba(255,255,255,.67);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        box-sizing: border-box;
    }

    .card-picture .picture-credits {
        font-size: .7em;
        padding: .5em .5em;
        margin: 0;
        background-color: rgba(255,255,255,.67);
        position: absolute;
        top: 0;
        right: 0;
        box-sizing: border-box;
    }


.card-content {
    width: 70%;
    margin: auto;
    padding: 1em;
    box-sizing: border-box;
}

p img {
    max-width: 70%;
    display: block;
    box-shadow: rgba(0,0,0,.67) 0 0 2px, rgba(0,0,0,.67) 0 3px 10px;
    margin: auto;
}

    p img + em { /* legend */
        display: block;
        margin: auto;
        text-align: center;
        font-size: .9em;
        font-family: "Ubuntu Condensed";
        font-style: italic;
    }

/*
    FOOTER
*/
footer {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #232832;
    color: lightsteelblue;
    font-size: 1em;
    font-family: "Ubuntu Condensed";
}

    footer > div {
        display: flex;
        width: 100%;
        margin: 0;
        padding: .5em 0;
    }

    footer a, footer a:link, footer a:visited, footer a:hover, footer h2 {
        color: lightsteelblue;
    }

    footer a {
        border-bottom: 1px solid #da8139;
    }

    footer h2 {
        font-size: 1em;
    }

    footer section {
        display: block;
        flex: 1;
        text-align: center;
    }

    footer .social-links {
        padding: 0;
        margin: 0;
    }

        footer .social-links li {
            list-style: none;
        }

            footer .social-links li img {
                display: inline-block;
                width: 3em;
                height: 3em;
            }

            footer .social-links li a {
                border-bottom: none;
            }

    footer .logo {
        width: 5em;
        height: 5em;
    }

    footer [role=complementary] {
        display: block;
        text-align: center;
        font-size: .8em;
    }

table {
    border-collapse: collapse;
}

    table th {
        color: #232832;
        font-family: "Ubuntu Condensed";
        font-weight: 800;
        vertical-align: bottom;
    }

    table th, table td {
        border: #333 solid 1px;
        padding: .5em;
        vertical-align: top;
    }

#cookie-message {
    position: fixed;
    display: none;
    opacity: 0;
    background-color: rgba(33,33,33,.85);
    z-index:3;
    transition: opacity ease-in-out 300ms;
    font-size: 1.1em;
    color: white;
    bottom:0;
    padding:10px;
    width:100%;
    text-align: center;
}

    #cookie-message button {
        background-color: #da8139;
        border: none;
        border-radius: 3px;
        padding: .5em;
    }

    #cookie-message.display {
        display: block;
        opacity: 1;
    }

.article.card {
    cursor: pointer;
}