/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.article-preview.card {
    width: calc(25vw - 20px);
    margin: 10px;
    border: none;
    box-shadow: rgba(0,0,0,.67) 0 0 1px, rgba(0,0,0,.33) 0 5px 5px;
}
